doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/momentjs/moment.js')
    script(src='/vendor/bootstrap/js/popper.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    block content
